img.w-100{
    width:450px !important;
    height:500px !important
 
}

.carousel-control-next{
    left:80px;
}

.carousel-item{
    transform: .0.5s ease-in-out;
    display:flex;
}

img{
    justify-content:center;
}